.product-thumb {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    width: 250px;
    height: 450px;
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
}