<!-- <p>
  side-nav works!
</p>
 -->

    <div class="col-sm-3 sidenav">
      <h5 class="header-label"> Sort By Brands </h5>
      <ul class="list-group-item list-group-item-action">
          <li class="list-group-item list-group-item-action">Brand</li>
          <li class="list-group-item list-group-item-action">Size</li>
          <li class="list-group-item list-group-item-action">Price</li>
          <li class="list-group-item list-group-item-action">New Arrivals</li>
          <li class="list-group-item list-group-item-action">Discounts</li>
        </ul>
    </div>
