<!-- <p>
  side-nav works!
</p>
 -->

    <div class="col-sm-3 sidenav">
      <h5 class="header-label"> Brands </h5>
      <div class="checkbox">
          <label><input type="checkbox" value="">Puma</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Reebok</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Fila</label>
        </div>
        <h5 class="header-label"> Price </h5>
      <div class="checkbox">
          <label><input type="checkbox" value="">Rs. 500 to Rs. 1000</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Rs. 1000 to Rs. 2000</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Rs. 2000 to Rs. 3000</label>
        </div>
        <h5 class="header-label"> Size </h5>
      <div class="checkbox">
          <label><input type="checkbox" value="">Small</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Medium</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Large</label>
        </div>
    </div>
