<!-- <p>
  shopping-mycart works!
</p> -->
<div class="col-md-4">
    <br>
    <h4>Your items in the Cart </h4>
    <div>
    <li class="list-group-item d-flex justify-content-between">
            <div>
              <h6 class="my-0">Milton Combi Meal 3 Containers Lunch Box</h6>
              <small class="text-muted">The inimitable Milton Tiffins and Lunch Boxes range have been constantly evolving and moving ahead with time. </small>
            </div>
            <span class="text-muted">₹234</span>
          </li>
          <br>
          <span class="">Safe and Secure Payments. Easy returns. 100% Authentic products.</span>
          <br>
      </div>
      <button class="btn btn-success" routerLink="/bill_pay">Buy Now</button> &nbsp;
      <button class="btn btn-primary btn-success" type="submit" routerLink="/order_details">Proceed to checkout</button> &nbsp;


</div>