<!-- <p>
  kids-prod-list works!
</p> -->
<app-side-nav></app-side-nav>
<div class="col-sm-9">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="thumbnail product-thumb">
        <a routerLink="/product_detail">
          <img src="" alt="Lights" style="width:100%">
          <div class="product-brand">
            <p>{{ product.product_name }}</p>
          </div>
        </a>
        <p>{{ product.prod_desc }}</p>
        <p>Rs. {{ product.prod_price }}</p>
        <p>Size: {{ product.prod_size }}</p>
      </div>
    </div>
  </div>
</div>