<!-- <p>
  kids-prod-list works!
</p> -->
<app-side-nav></app-side-nav>
<div class="col-sm-9">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of productList">
      <div class="thumbnail product-thumb">
        <a>
          <img src="../../assets/images/{{product.productId}}.jpg" alt="Lights" style="width:100%">
          <div class="product-brand">
            <p>{{ product.productName }}</p>
          </div>
        </a>
        <p class="p-class">{{ product.description }}</p>
        <p class="p-class">₹ {{ product.price }}</p>
        <p class="p-class">Size: {{ product.size }}</p>
        <button type="button" class="btn btn-primary" routerLink="/product_detail/{{ product.productId }}">
          <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
        </button>
      </div>
    </div>
  </div>
</div>