<!-- <p>
  login-signup works!
</p> -->

<div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            
            <label for="">Email address</label>
            <input type="email" class="form-control" id="" placeholder="Enter email">

            <label for="">Password</label>
            <input type="password" class="form-control" id="" placeholder="Password">

            <label>
              <input type="checkbox"> Remember Me
            </label>
            <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-success">Login</button>
          <button type="submit" class="btn btn-default btn-danger" data-dismiss="modal" routerLink="/home">Cancel</button>
          <button type="button" class="btn btn-default btn-primary">New ? Signup</button>
          </div>
        </div>
    
      </div>
    </div>