<!-- <p>
  women-prod-list works!
</p> -->
<app-side-nav></app-side-nav>
<div class="col-sm-9">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\women-prd-1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\women-prd-2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\women-prd-3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\women-prd-4.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\women-prd-5.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\women-prd-6.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\women-prd-7.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\women-prd-8.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>