<!-- <p>
  product-detail works!
</p> -->

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="product-image">
          <div class="view hm-zoom z-depth-2" style="cursor: pointer">
            <img src="..\..\assets\images\men-prd-1.jpg" alt="" width="100%" class="img-fluid rounded">
          </div>
          <div class="" style="margin-top:15px">
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Product Price</h6>
                </div>
                <span class="text-muted" style="">
                  <!-- ${{product.productPrice}} -->
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Product Seller</h6>
                </div>
                <span class="text-muted" style="">
                  <!-- {{product.productSeller}} -->
                </span>
              </li>
            </ul>
            <div class="row">
                <button class="btn btn-primary" routerLink="/viewcart">Add to Cart</button>   &nbsp; &nbsp;
                <button class="btn btn-success" routerLink="/bill_pay">Buy Now</button>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="product-detail">
          <h5 class="product-head">Product Details</h5>
          <table class="table" cellspacing="0" style="max-height: 28px">
            <tbody>
              <tr>
                <th scope="row">Product Name</th>
                <td>
                  <!-- {{product.productName}} -->
                </td>
              </tr>
              <tr>
                <th scope="row ">Product Description</th>
                <td>
                  <!-- {{product.productDescription}} -->
                </td>
              </tr>
              <tr>
                <th scope="row">Product Size</th>
                <td>
                  <!-- {{product.productCategory}} -->
                </td>
              </tr>
              <tr>
                <th scope="row">No. of quantity</th>
                <td>
                  <!-- {{product.productQuatity}} -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>