<h3>
  New Arrivals
</h3>

<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a routerLink="/mens">
          <img src="..\..\assets\images\prd-dtl-1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p style="color:black;font-size: 20px;">Mens Wear Clothing</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a routerLink="/womens">
          <img src="..\..\assets\images\prd-dtl-2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p style="color:black;font-size: 20px;">Best Offers On Womenswear</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a routerLink="/kids">
          <img src="..\..\assets\images\prd-dtl-3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p style="color: black;font-size: 20px;">Kids' Boys and Girls Clothing Collections</p>
          </div>
        </a>
      </div>
    </div>
  </div>