<h3>
  New Arrivals
  <button type="button" class="btn btn-primary pull-right" routerLink="/all">VIEW ALL</button>
</h3>
<div class="row">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
    						<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="../../assets/images/1000025.jpg" alt=""></a>
								</div>
								<div class="caption">
									<h4>Mothercare</h4>
									<p>Mothercare Girls Cardigan</p>
                  <button type="button" class="btn btn-sm btn-primary" routerLink="/product_detail/1000025">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                  </button>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="../../assets/images/1000026.jpg" alt=""></a>
								</div>
								<div class="caption">
									<h4>Princess</h4>
									<p>Princess Girls Green Frock</p>
                  <button type="button" class="btn btn-sm btn-primary" routerLink="/product_detail/1000026">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                  </button>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="../../assets/images/1000027.jpg" alt=""></a>
								</div>
								<div class="caption">
									<h4>Mebaz Boys</h4>
									<p>Mebaz Boys Kurtha</p>
                  <button type="button" class="btn btn-sm btn-primary" routerLink="/product_detail/1000027">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                  </button>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="../../assets/images/1000028.jpg" alt=""></a>
								</div>
								<div class="caption">
									<h4>H&M</h4>
									<p>H&M Boys Shorts</p>
                  <button type="button" class="btn btn-sm btn-primary" routerLink="/product_detail/1000028">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                  </button>
								</div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 

              <div class="item">
                  <ul class="thumbnails">
                      <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="../../assets/images/1000001.jpg" alt=""></a>
              </div>
              <div class="caption">
                <h4>Mens</h4>
                <p>Mens wear</p>
                <button type="button" class="btn btn-sm btn-primary" routerLink="/product_detail/1000001">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                </button>
              </div>
                          </div>
                      </li>
                      <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="../../assets/images/1000015.jpg" alt=""></a>
              </div>
              <div class="caption">
                <h4>Globaldesi</h4>
                <p>Globaldesi Grey Top</p>
                <button type="button" class="btn btn-sm btn-primary" routerLink="/product_detail/1000015">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                </button>
              </div>
                          </div>
                      </li>
                      <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="../../assets/images/1000008.jpg" alt=""></a>
              </div>
              <div class="caption">
                <h4>Fila T-shirt</h4>
                <p>Fila Men's Cotton Polo</p>
                <button type="button" class="btn btn-sm btn-primary" routerLink="/product_detail/1000008">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                </button>
              </div>
                          </div>
                      </li>
                      <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="../../assets/images/1000012.jpg" alt=""></a>
              </div>
              <div class="caption">
                <h4>W For Women</h4>
                <p>W For Women Pink Dress</p>
                <button type="button" class="btn btn-sm btn-primary" routerLink="/product_detail/1000012">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                </button>
              </div>
                          </div>
                      </li>
                  </ul>
            </div><!-- /Slide2 --> 
</div>
<br>